torch==1.13.1
simpletransformers==0.4.5                                                                                                       
transformers==4.36.0                                    
plac==0.9.6                                    
pandas==0.25.2                                   
numpy==1.17.3
